/* Grid Container Styles */
.grid-container {
  width: 100%;
  min-height: 100dvh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 60px;
  padding: 0 12px 0 12px;

  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.8s ease;

  &.is-animating {
    transform: translateY(6.4rem);
    opacity: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 0 15px 0 15px;
  }

  @media screen and (min-width: 768px) {
    &.columns-2 {
      column-gap: 10px;
      grid-template-columns: repeat(2, 1fr);

      & .name {
        margin-top: .8rem;
      }
    }
    &.columns-4 {
      column-gap: 2px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (min-width: 1440px) {
    &.columns-2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &.columns-4 {
      row-gap: 60px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.load-more-container,
.loading {
  width: fit-content;
  height: 4.6rem;
  margin: 102px auto 0 auto;
}
